nav {
  position: fixed;
  top: 30px;
  left: 0;
  width: 100%;
  background-color: #F8F9FA;
  padding: 10px;
  z-index: 1000;
}
.button {
  background-color: #ec960b;
  color: #efeeee;
  border: #ec960b;
}

.list:hover {
  background-color: #ec960b;
  color: white;
}
.list:active {
  background-color: #ec960b;
  color: white;
}
.blur:focus{
    box-shadow: none !important;
    border-color: #eeeff0 !important;
    outline: none !important;
}
