<div class="container w-75 p-5 rounded-5 text-light mt-3"  style=" background-color: #243e64;">
  <form class="w-100" [formGroup]="deliveryfrom" (ngSubmit)="OperationONForm()" >
    <input type="number" class="form-control" hidden formControlName="id">
    <div class="mb-3">
      <label for="name" class="form-label">Delivery Method</label>
      <input type="text" class="form-control" placeholder="name of Delivery Method "
      formControlName="shortName">
      <ng-container *ngIf="shortName.touched ||error">
        <div class="form-text  text-light rounded font-monospace"
        *ngIf="shortName.hasError('required');"
        ><span class="bg-danger rounded">* Name is Required!!!
          </span>
          </div>
          <div  class="form-text  text-light rounded font-monospace"
          *ngIf="shortName.hasError('minlength');"
          ><span class="bg-danger rounded">* Minimum Lenght OF Name is 3 !!!
          </span></div>
        </ng-container>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Delivery Time</label>
      <input type="text" class="form-control" placeholder="deliveryTime"
      formControlName="deliveryTime">
      <ng-container *ngIf="deliveryTime.touched ||error">
        <div class="form-text  text-light rounded font-monospace"
        *ngIf="deliveryTime.hasError('required');"
        ><span class="bg-danger rounded">* deliveryTime is Required!!!
          </span>
          </div>
        </ng-container>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Description</label>
      <input type="text" class="form-control" placeholder="description"
      formControlName="description">
      <ng-container *ngIf="description.touched ||error">
        <div class="form-text  text-light rounded font-monospace"
        *ngIf="description.hasError('required');"
        ><span class="bg-danger rounded">* description is Required!!!
          </span>
          </div>
        </ng-container>
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Price</label>
      <input type="text" class="form-control" placeholder="price"
      formControlName="price">
      <ng-container *ngIf="price.touched ||error">
        <div class="form-text  text-light rounded font-monospace"
        *ngIf="price.hasError('required');"
        ><span class="bg-danger rounded">* price is Required!!!
          </span>
          </div>
        </ng-container>
    </div>
    <div class="d-flex justify-content-center ">
      <button type="submit" [disabled]="!deliveryfrom.valid" class="btn btn-warning">{{deliveryID==0 ?'Add Delivery Method':'Edit Delivery Method'}}</button>
    </div>
  </form>
</div>


