<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body> 
  <div class="container">
  <div class="row">
  <div id="carouselExampleIndicators" class="carousel slide carousel-back" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/imgs/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/imgs/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="assets/imgs/2.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
 </div>
</div>
  <!-- SECTION UNDER SLIDER -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-3 fw-bold mx-4" style="font-size: x-large;">
        Shop By Category 
      </div>
      <div class="col-sm-6">
        <div class="container">
          <div class="row">
            <div class="col-1">
              <div style="width: 1px; height: 40px; background-color: #ccc; margin-left: 20px;"></div>
              </div>
            <div class="col-10 text-muted" style="font-size: small;">
              In a classification paragraph, separate items are grouped into categories according 
              to shared characteristics.  
            </div>
          </div>
        </div>
    </div>
      <div class="col-sm-2">
        <button class="button btn col-sm-9 btn rounded-0" style="margin-left: 90px;">View More</button>
      </div>
    </div>
  </div>

  <!-- SHOP BY CATEGORY -->
  <div class="mx-5">
    <div class="container mx-4 mt-4">
      <div class="row mx-3">
        <div class="col-sm-3 image-container">
          <img class="image" src="assets/imgs/dec3.jpg">
          <span class="bottomleft bg-light py-2"><span class="item-no">1220 item</span><br><span class="item-name">Furniture</span></span>
        </div>
        <div class="col-sm-3 image-container">
          <img class="image" src="assets/imgs/fash2.jpg">
          <span class="bottomleft bg-light py-2"><span class="item-no">1500 item</span><br><span class="item-name">Kids</span></span>
        </div>
        <div class="col-sm-3 image-container">
          <img class="image" src="assets/imgs/fash1.jpg">
          <span class="bottomleft bg-light py-2"><span class="item-no">2200 item</span><br><span class="item-name">Fashion</span></span>
        </div>
        <div class="col-sm-3 image-container">
          <img class="image" src="assets/imgs/elec1.jpg">
          <span class="bottomleft bg-light py-2"><span class="item-no">1220 item</span><br><span class="item-name">Electronics</span></span>
        </div>
      </div>
    </div>
  </div>

  <!-- NEW ARRIVAL ITEM -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-sm-3 fw-bold mx-4" style="font-size: x-large;">
        New Arrival Item 
      </div>
    </div>
  </div>

  <div class="mx-5">
    <div class="container mx-4 mt-4">
      <div class="row mx-3" id="item">
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/item1.jpeg">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span>
          </span>
        </div>
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/ph2.jpeg">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span>
          </span>  
          </div>
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/item3.jpeg">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span>
          </span>
        </div>
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/item2.png">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span>
          </span>
        </div>
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/ph1.jpeg">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span>
          </span>
        </div>
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/ph3.jpeg">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- SECTIONS -->
  <!-- BEAUTY SECTION -->
  <div class="container mt-5">
  <div class="row">
    <img class="section-image" src="assets/imgs/beauty1.jpg">
  </div>
</div>

 <!-- TITLE  -->
 <div class="container mt-5">
  <div class="row">
    <div class="col-sm-3 fw-bold mx-4" style="font-size: x-large;">
      Beauty
    </div>
  </div>
</div>

<!-- ITEMS -->
<div class="mx-5">
  <div class="container mx-4 mt-4">
    <div class="row mx-3" id="item">
      <div class="col-sm-2 image-container">
        <img class="image-item" src="assets/imgs/bt1.jpg">
        <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
        <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
        <span class="fw-bold mx-1">$200</span>
        </span>
      </div>
      <div class="col-sm-2 image-container">
        <img class="image-item" src="assets/imgs/bt2.jpg">
        <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
        <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
        <span class="fw-bold mx-1">$200</span>
        </span>  
        </div>
      <div class="col-sm-2 image-container">
        <img class="image-item" src="assets/imgs/bt3.jpg">
        <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
        <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
        <span class="fw-bold mx-1">$200</span>
        </span>
      </div>
      <div class="col-sm-2 image-container">
        <img class="image-item" src="assets/imgs/bt4.jpg">
        <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
        <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
        <span class="fw-bold mx-1">$200</span>
        </span>
      </div>
      <div class="col-sm-2 image-container">
        <img class="image-item" src="assets/imgs/bt5.jpg">
        <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
        <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
        <span class="fw-bold mx-1">$200</span>
        </span>
      </div>
      <div class="col-sm-2 image-container">
        <img class="image-item" src="assets/imgs/bt6.jpg">
        <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
        <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
        <span class="fw-bold mx-1">$200</span>
        </span>
      </div>
    </div>
  </div>
</div>

  <!-- SECTIONS -->
  <!-- Fashion SECTION -->
  <div class="container mt-5">
    <div class="row">
      <img class="section-image" src="assets/imgs/fashion2.jpg">
    </div>
  </div>
  
   <!-- TITLE  -->
   <div class="container mt-5">
    <div class="row">
      <div class="col-sm-3 fw-bold mx-4" style="font-size: x-large;">
        Fashion
      </div>
    </div>
  </div>
  
  <!-- ITEMS -->
  <div class="mx-5">
    <div class="container mx-4 mt-4">
      <div class="row mx-3" id="item">
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/f1.jpg">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span>
          </span>
        </div>
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/f2.jpg">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span>
          </span>  
          </div>
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/f7.jpg">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span>
          </span>
        </div>
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/f4.jpg">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span>
          </span>
        </div>
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/f5.jpg">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span>
          </span>
        </div>
        <div class="col-sm-2 image-container">
          <img class="image-item" src="assets/imgs/f6.jpg">
          <span class="mx-1 mt-2"><span><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star-fill"></i><i class="star bi bi-star"></i></span><br>
          <span class="mx-1 text-muted" style="font-size: smaller;">Modern Wood Table</span><br>
          <span class="fw-bold mx-1">$200</span><br><br>
          </span>
        </div>
      </div>
    </div>
  </div>

</body>
</html>


