<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" >
    <title>Document</title>
</head>
<body>
    <div style="margin-top: 220px;"></div>
<div class="container mt-5">
    <div><i class="fa fa-check-circle fa-5x" style="color:green;"></i></div>
    <h2>Thank You . your order is confirmed</h2>
    <button class="btn btn-outline-success mt-2" *ngIf="order" routerLink="/orders/{{order.id}}">View your order</button>
    <button class="btn btn-outline-success mt-2" *ngIf="!order" routerLink="/orders">View your orders</button>
</div>

</body>
</html>