<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="bg-light mt-3">

    <div class="container py-5">
      <div class="row">
        <div class="col">
          <p class="fw-bold">NEED HELP?</p>
          <div style="font-size: small;">
          <a>Help Center</a><br>
          <a>Contact us</a><br>
          <a>How to shop on Jumia</a><br>
          <a>How to pay on Jumia</a><br>
          <a>Delivery timelines</a><br>
          <a>Dispute Resolution Policy</a><br>
          <a>Return & Refund Policy</a><br>
          <a>Payment Information Guidlines</a><br></div>
        </div>
        <div class="col">
          <p class="fw-bold">ABOUT JUMIA</p>
          <div style="font-size: small;">
          <a>Jumia Logistics Services</a><br>
          <a>Jumia Careers</a><br>
          <a>Terms and Conditions</a><br>
          <a>Stores Credit Terms & Conditions</a><br>
          <a>Privacy Policy</a><br>
          <a>Free Shipping</a><br>
          <a>Flash Sales</a><br>
          <a>Join the Jumia DA Academy</a><br></div>
        </div>
        <div class="col">
          <p class="fw-bold">MAKE MONEY WITH JUMIA</p>
          <div style="font-size: small;">
          <a>Sell on Jumia</a><br>
          <a>Become a Logistics Service Partner</a><br>
          <a>Become a Sales Consultant (J-Force )</a><br></div>
        </div>
        <div class="col">
          <p class="fw-bold">JUMIA INTERNATIONAL<p>

            <div class="container">
              <div class="row" style="font-size: small;">
                <div class="col-4">
                <a>Algeria</a><br>
                <a>Ivory</a><br>
                <a>Coast</a><br>
                <a>Ghana</a><br>
                <a>Kenya</a><br>
                <a>Morocco</a><br>
                </div>
                <div class="col-4">
                  <a>Nigeria</a><br>
                  <a>Senegal</a><br>
                  <a>Tunisia</a><br>
                  <a>Uganda</a><br>
                </div>
              </div>
            </div>
              
        </div>
      </div>
    </div> 
    <!-- END OF FIRST CONTAINER -->
    <div class="container">
      <div class="row">
        <div class="col-3 fw-bold">
          JOIN US ON
            <div class="row mt-2">
              <div class="col-2"><i class="bi bi-facebook"></i></div>
              <div class="col-2"><i class="bi bi-twitter"></i></div>
              <div class="col-2"><i class="bi bi-instagram"></i></div>
              <div class="col-2"><i class="bi bi-youtube"></i></div>
          </div>
        </div>
        <div class="col-3 fw-bold">
          PAYMENT METHODS
          <div class="row mt-2">
            <div class="col-2"><i class="bi bi-wallet2"></i></div>
            <div class="col-2"><i class="bi bi-paypal"></i></div>
            <div class="col-2"></div>
            <div class="col-2"></div>
        </div>
        </div>
      </div>
    </div>
    <!-- END OF SECOND CONTAINER -->
    <div class="container mt-5 mb-4">
      <div class="row" style="font-size: x-small;">
        <div class="col"> 
          Activ<br>
          ADIDAS<br>
          American Eagle<br>
          Andora<br></div>
        <div class="col">
          Apple<br>
          Braun<br>
          Casio<br>
          Cottonil<br></div>
        <div class="col">
          Defacto<br>
          Dejavu<br>
          Dice<br>
          Fresh<br></div>
        <div class="col">
          Garnier<br>
          HP<br>
          Izor<br>
          Kady<br>
        </div>
        <div class="col">
          L'Oreal Paris<br>
          LC Waikikiv<br>
          Lenovo<br>
          Maybelline New York<br>
        </div>
        <div class="col">
          Mesery<br>
          Mothercare<br>
          NIVEA<br>
          Nokia<br>
        </div>
        <div class="col">
          OPPO<br>
          Ravin<br>
          Samsung<br>
          SHEIN<br>
        </div>
        <div class="col">
          Sokany<br>
          Tornado<br>
          XIAOMI<br>
        </div>
      </div>
    </div>

  </div>
</body>
</html>