.button {
    background-color: white;
    border: 2px solid #ec960b;
    color: #ec960b;
    
    &:hover {
    background-color:  #ec960b;
    border:  #ec960b;
    color: white;
    }
    &:focus {
        background-color:  #ec960b;
        border:  #ec960b;
        color: white;
        }
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }