<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" >
  <title>Document</title>
</head>
<body>
  <div style="margin-top: 70px;"></div>

<!-- title -->
<div class="bg-light py-4">
    <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
      <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-start">
            <li class="breadcrumb-item"><a class="home-link text-nowrap" href="index.html" style="text-decoration: none; color:  #212529;"><i class="bi bi-house-door mx-2"></i>Home</a></li>
            <li class="breadcrumb-item text-nowrap active" aria-current="page">Contacts</li>
          </ol>
        </nav>
      </div>
      <div class="order-lg-1 pe-lg-4 text-center text-lg-start">
        <h1 class="h3 mb-0">Contacts</h1>
      </div>
    </div>
  </div>

<!-- first section -->
<section class="container-fluid pt-grid-gutter mt-4 px-5">
    <div class="row mx-5">
      <div class="col-xl-3 col-sm-6 mb-grid-gutter" ><a class="card h-100"  data-scroll="">
          <div class="card-body text-center "><i class="home-bi bi bi-geo-alt" style="font-size: x-large;"></i>
            <h3 class="h6 mb-2">Main store address</h3>
            <p class="text-muted" style="font-size: small;">396 Lillian Blvd, NY 11741, USA</p>
            <div class="fs-sm" style="color: #ec960b; font-size: small;">Click to see map</div>
          </div></a></div>
      <div class="col-xl-3 col-sm-6 mb-grid-gutter">
        <div class="card h-100">
          <div class="card-body text-center"><i class="home-bi bi bi-clock-history" style="font-size: x-large;"></i>
            <h3 class="h6 mb-2 mt-2">Working hours</h3>
            <ul class="list-unstyled fs-sm text-muted mb-0" style="font-size: small;">
              <li>Mon - Fri: 10AM - 7PM</li>
              <li class="mb-0">Sta: 11AM - 5PM</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-grid-gutter">
        <div class="card h-100">
          <div class="card-body text-center"><i class="home-bi bi bi-telephone"  style="font-size: x-large;"></i>
            <h3 class="h6 mb-2 mt-2">Phone numbers</h3>
            <ul class="list-unstyled fs-sm mb-0">
              <li><span class="text-muted me-1" style="font-size: small;">For customers: <span style="color: #6da55a;"> +1 (080) 44 357 260 </span></span></li>
              <li class="mb-0"><span class="text-muted me-1" style="font-size: small;">Tech support: <span style="color: #6da55a;"> +1 00 33 169 7720</span></span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-sm-6 mb-grid-gutter">
        <div class="card h-100">
          <div class="card-body text-center"><i class="home-bi bi bi-envelope"  style="font-size: x-large;"></i>
            <h3 class="h6 mb-2 mt-2">Email addresses</h3>
            <ul class="list-unstyled fs-sm mb-0">
              <li><span class="text-muted me-1" style="font-size: small;">For customers:</span><a class="nav-link-style" style="font-size: small; color: #6da55a;">customer@example.com</a></li>
              <li class="mb-0"><span class="text-muted me-1" style="font-size: small;">Tech support:</span><a class="nav-link-style" style="font-size: small; color: #6da55a;">support@example.com</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- second section -->
<section class="container pt-4 mt-md-4 mb-5">
    <h2 class="h3 text-center mb-3">Our outlet stores</h2>
    <div class="row pt-4">
      <div class="col-md-4 col-sm-6 mb-grid-gutter">
        <div class="card border-0 shadow"><img class="card-img-top" src="assets/imgs/orlando.jpg" alt="Orlando">
          <div class="card-body">
            <h6>Orlando, USA</h6>
            <ul class="list-unstyled mb-0">
              <li class="d-flex pb-3 border-bottom"><i class="ci-location fs-lg mt-2 mb-0 text-primary"></i>
                <div class="ps-3"><span class="fs-ms text-muted">Find us</span><a class="d-block text-muted fs-sm" >514 S. Magnolia St. Orlando, FL 32806, USA</a></div>
              </li>
              <li class="d-flex pt-2 pb-3 border-bottom"><i class="ci-phone fs-lg mt-2 mb-0 text-primary"></i>
                <div class="ps-3"><span class="fs-ms text-muted">Call us</span><a class="d-block text-muted fs-sm" >+1 (786) 322 560 40</a></div>
              </li>
              <li class="d-flex pt-2"><i class="ci-mail fs-lg mt-2 mb-0 text-primary"></i>
                <div class="ps-3"><span class="fs-ms text-muted">Write us</span><a class="d-block text-muted fs-sm" >orlando@example.com</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 mb-grid-gutter">
        <div class="card border-0 shadow"><img class="card-img-top" src="assets/imgs/chicago.jpg" alt="Chicago">
          <div class="card-body">
            <h6>Chicago, USA</h6>
            <ul class="list-unstyled mb-0">
              <li class="d-flex pb-3 border-bottom"><i class="ci-location fs-lg mt-2 mb-0 text-primary"></i>
                <div class="ps-3"><span class="fs-ms text-muted">Find us</span><a class="d-block text-muted fs-sm">769, Industrial, West Chicago, USA</a></div>
              </li>
              <li class="d-flex pt-2 pb-3 border-bottom"><i class="ci-phone fs-lg mt-2 mb-0 text-primary"></i>
                <div class="ps-3"><span class="fs-ms text-muted">Call us</span><a class="d-block text-muted fs-sm" >+1 (847) 252 765 33</a></div>
              </li>
              <li class="d-flex pt-2"><i class="ci-mail fs-lg mt-2 mb-0 text-primary"></i>
                <div class="ps-3"><span class="fs-ms text-muted">Write us</span><a class="d-block text-muted fs-sm" >chicago@example.com</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12 mb-grid-gutter">
        <div class="card border-0 shadow"><img class="card-img-top" src="assets/imgs/newyork.jpg" alt="New York">
          <div class="card-body">
            <h6>New York, USA</h6>
            <ul class="list-unstyled mb-0">
              <li class="d-flex pb-3 border-bottom"><i class="ci-location fs-lg mt-2 mb-0 text-primary"></i>
                <div class="ps-3"><span class="fs-ms text-muted">Find us</span><a class="d-block text-muted fs-sm" >396 Lillian Blvd, Holbrook, NY 11741, USA</a></div>
              </li>
              <li class="d-flex pt-2 pb-3 border-bottom"><i class="ci-phone fs-lg mt-2 mb-0 text-primary"></i>
                <div class="ps-3"><span class="fs-ms text-muted">Call us</span><a class="d-block text-muted fs-sm" >+1 (212) 477 690 000</a></div>
              </li>
              <li class="d-flex pt-2"><i class="ci-mail fs-lg mt-2 mb-0 text-primary"></i>
                <div class="ps-3"><span class="fs-ms text-muted">Write us</span><a class="d-block text-muted fs-sm" >newyork@example.com</a></div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

<!-- contact -->
<div class="container-fluid px-0" id="map">
    <div class="row g-0">
      <div class="col-lg-6 iframe-full-height-wrap">
        <iframe class="iframe-full-height" width="700" height="600" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53357.14257194912!2d-73.07268695801845!3d40.78017062807504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89e8483b8bffed93%3A0x53467ceb834b7397!2s396+Lillian+Blvd%2C+Holbrook%2C+NY+11741%2C+USA!5e0!3m2!1sen!2sua!4v1558703206875!5m2!1sen!2sua"></iframe>
      </div>

      <div class="col-lg-6 px-4 px-xl-5 py-5 border-top">
        <h2 class="h4 mb-4">Drop us a line</h2>

        <!-- form -->
        <form id="form" class="needs-validation mb-3" [formGroup]="supportForm" (submit)="formoperation($event)">
          <div class="row g-3">
            <div class="col-sm-6">
              <!-- <label class="form-label text-muted" for="username">Your name :</label> -->
              <input class="form-control" type="text" id="username" placeholder="Enter your name" required formControlName="username" name="username">
              <ng-container *ngIf="getusername.touched">
                <div *ngIf="getusername.hasError('required')" class="form-text text-danger" >Please fill your name!</div>
              </ng-container>
            </div>
            <div class="col-sm-6">
              <!-- <label class="form-label" for="email">Email address:</label> -->
              <input class="form-control" type="email" id="email" formControlName="email" name="email" placeholder="Enter your e-mail" required>
             <ng-container *ngIf="getemail.touched">
                 <div *ngIf="getemail.hasError('required')" class="form-text text-danger">Please enter your email!</div>
             </ng-container>
             <ng-container *ngIf="getemail.touched">
                <div *ngIf="getemail.hasError('email')" class="form-text text-danger">please enter valid email</div>
              </ng-container>
            </div>
            <div class="col-12">
              <!-- <label class="form-label" for="message">Message:</label> -->
              <textarea class="form-control" formControlName="message" id="message" name="message" rows="6" placeholder="Please describe in details your request" required></textarea>
              <ng-container  *ngIf="getmessage.touched">
              <div *ngIf="getmessage.hasError('required')" class="form-text text-danger">Please write a message!</div>
              </ng-container>
              <ng-container *ngIf="getmessage.touched">
                <div *ngIf="getmessage.hasError('maxLength')" class="form-text text-danger">The message is to long required</div>
              </ng-container>
              <button class="button btn btn-primary mt-4" type="submit">Send message</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</body>
</html>